<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оценка погоды на твоем пути</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <div id="loading" style="display:none; font-size: 52px;">Loading...</div>
        <h1>Введи конец и начало маршрута</h1>
        <p>Можно вводить данные только на английском, учти это</p>

        <form id='requestForm' onsubmit="return validateAllForms(event)" enctype="multipart/form-data">
            <div>
                <label for="start_point">Начальная точка:</label>
                <input class="point" type="text" id="start_point" name="start_point" required pattern="[A-Za-z\s]+" title="Пожалуйста, используйте только английские буквы.">
            </div>
            <div>
                <label for="end_point">Конечная точка:</label>
                <input class="point" type="text" id="end_point" name="end_point" required pattern="[A-Za-z\s]+" title="Пожалуйста, используйте только английские буквы.">
            </div>
            <div id="intermediate_points_container">
                <label>Промежуточные точки:</label>
                <button type="button" onclick="addIntermediatePoint()">Добавить точку</button>
            </div>
            <div>
                <label for="days">Дни прогноза:</label>
                <select id="days" name="days">
                    <option value="1">1 день</option>
                    <option value="3">3 дня</option>
                    <option value="5">5 дней</option>
                </select>
            </div>
            <button type="submit">Оценить</button>
        </form>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
